.projects-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.hero {
  width: auto;
  margin: 0 2rem;
  height: 60vh;
  position: relative;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  opacity: 0;
  animation: fadeUp 2s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
}

.projects-slider {
  display: flex;
  width: 300vw;
  /* 3 slides * 100vw */
  transition: transform 2s ease;
}

footer {
  display: none;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 28rem;
  flex-shrink: 0;
}

.right-side {
  width: 50%;
}

.left-side {
  width: 50%;
  padding: 0px 20px;
  display: flex;
  height: 100%;
  margin-right: 8rem;
  font-size: smaller;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-weight: bold !important;
}

h2 {
  font-weight: bold !important;
}

.d-flex {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.d-flex a {
  color: #48b08e;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #48b08e;
  border-radius: 5px;
}


.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Responsive */
@media (max-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 1rem;
  }

  .right-side,
  .left-side {
    width: 100%;
    margin: 0;
  }

  .left-side {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .right-side img {
    width: 100%;
    height: auto;
    margin-left: 1rem;
  }

  .d-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }
}